/* RESETTA SIDAN*/
* {
    margin: 0px;
    padding: 0px;
}

/* Positionerar sidans innehålle, med marginal mot den fixerade navbaren*/
.container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    height: auto;
}

.body{
    font-family: roboto;
    background-color: #fafafa;
}

#ContentPlaceHolder1_DisplayBookingSchedule {
   width: 100%;
   height: 100%; 
}

#schedule {
    width: 100%;
    height: 100%;
}

/* Formaterar visning av om banan är stängd */
.closedCourse {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
    background-color: firebrick;
    color: white;
    height: 10%;
    border-radius: 10px;
}

.courseIsClosed {
    text-align: center;
}

.centerTheText {
    height: 30%;
    width: 70%;
    display: inline-block;
    margin-top: 15%;
    margin-bottom: auto;
}

/* Formaterar bokningsplatser i en modal */
.aBookingIsClosed{
    display: inline-block;
    min-width: 70px;
    min-height: 70px;
    background-color: #a3a3a3;
    margin: 1px;
    border-style: solid;
    border-width: thin;
    border-color: #969696;
    margin-bottom: 2px;
}

.TimeIsClosed{
   text-align: center;
}

.aBookableSpot {
    width:31%;
    display: inline-block;
    vertical-align: text-bottom;
}

.freeSpot {
    background-color:lightgray;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
}

.aBookableSpotInput {
    width:41%;
    display: inline-block;
}

.aBookableSpotReserve {
    width:21%;
    display: inline-block;
}

.currMemberIsBooked {
    background-color:aquamarine;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
}

.autoReservationLoggedInUser {
    background-color:blanchedalmond;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
}

.autoReservationLoggedInUser, p {
    text-align:center;
}

.bookedSpot {
    background-color:lightcyan;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
}

.bookingOptionsContainer{
    width: 60%;
    display: inline-block;
    vertical-align: text-bottom;
}

.bookingCounter {
    display: inline-block;
    width: 30px;
    background: black;
    color: white;
    margin-right: 2px;
    vertical-align: text-bottom;
    border-radius: 15px;
}

.reserveSpotButton {

}

/* Formaterar boxarna för bokningsbara tider*/
.aBooking {
    min-width: 70px;
    min-height: 70px;
    background-color: #fafafa;
    margin: 1px;
    display: inline-block;
    border-style: solid;
    border-width: thin;
    border-color: #969696;
    margin-bottom: 2px;
    border-radius: 2px;
}

.aBookingFull {
    min-width: 70px;
    min-height: 70px;
    background-color: #F45D4C;
    margin: 1px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;;
    border-color: #969696;
    margin-bottom: 2px;
    border-radius: 2px;
}

.aBookingSpotsLeft {
    min-width: 70px;
    min-height: 70px;
    background-color: #A1DBB2;
    margin: 1px;
    display: inline-block;
    border-style: solid;
    border-width: thin;
    border-color: #969696;
    margin-bottom: 2px;
    border-radius: 2px;
}

.aBooking:hover, .aBookingFull:hover, .aBookingSpotsLeft:hover{
    box-shadow:         1px 0px 30px 0px rgba(0, 0, 0, 0.17);
    -webkit-transition: box-shadow 100ms linear;
    -ms-transition: box-shadow 100ms linear;
    transition: box-shadow 100ms linear;
}

.badgeRow {
    width:100%;
    text-align: center;
}

/* Formaterar knapparna för byte av dag samt datumtexten*/
.changeDayButton {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
}

#cdate {
    text-align: center;
    vertical-align: middle;
    color: #fafafa;

}
/* Formaterar incheckningspanelen */
/* Formaterar incheckningspanelen */
/* Formaterar incheckningspanelen */
.dropdowndrop{
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
}
.timeOptionHover:hover {
    background-color: lightgray;
}

.sortingTimeTextDisplay {
    text-align: center;
    background: lightgray;
    text-transform: full-width;
    color: black;
    font-size: x-large;
    margin: 0 0 1% 0;
    border-radius: 5px 5px 0px 0px;
}
.blockOfBookings{
    border-style: solid;
    border-width: thin;
    vertical-align: middle;
    border-radius: 5px;
}
/* Formaterar incheckningspanelen */

.teeTimeInfo{
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    background-color:lightgoldenrodyellow;
    border-radius: 5px;
    text-align: center;
}

.checkInInfo {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.checkInStatus {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    text-align: center;
    border-radius: 5px;    
}

.bookedByInfo {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    background-color: lightsalmon;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.checkInButton {
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}

.cancelTeeButton {
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    /*background-color: firebrick;
    color: white;
    border-radius: 11px;*/
}

/* Övrigt */

#ContentPlaceHolder1_DisplayChangeDay{
    background-color: rgb(69, 69, 69);
    width: 1007px;
    height: 30%; 
    margin-bottom: 5px;
    border-radius: 4px;
}

/*Föregående dag*/
#ContentPlaceHolder1_Button1{
    font-family: inherit;
    font-size: 20px;
    line-height: inherit;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    margin: 10px 5px;
    float: left;
}

/*Nästa dag*/
#ContentPlaceHolder1_Button2{
    font-family: inherit;
    font-size: 20px;
    line-height: inherit;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    margin: 10px 5px;
    float: right;
}
 
#ContentPlaceHolder1_Button2:hover, #ContentPlaceHolder1_Button1:hover{
    background-color: #fafafa;
    border-color: #fafafa;
    background-color:  1px 0px 30px 0px rgba(0, 0, 0, 0.17);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

/* P i Admin*/
.padmin{
    text-align:left;
}

/* Mindre skärm *//* Mindre skärm *//* Mindre skärm *//* Mindre skärm *//* Mindre skärm */

@media only screen and (max-width:1600px) {

.container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

#ContentPlaceHolder1_DisplayBookingSchedule {
    width: 432px;
    margin: auto;
}    
    
#ContentPlaceHolder1_DisplayChangeDay{
    background-color: rgb(69, 69, 69);
    width: 432px;
    height: 60px; 
    margin-bottom: 5px;
    border-radius: 4px;
    margin: auto;
}

    #ContentPlaceHolder1_Button1{
    font-family: inherit;
    font-size: 20px;
    line-height: inherit;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    margin: 10px 5px;
    float: left;
}
    
#ContentPlaceHolder1_Button2{
    font-family: inherit;
    font-size: 20px;
    line-height: inherit;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    margin: 10px 5px;
    float: right;
}
 
#cdate {
    text-align: center;
    vertical-align: middle;
    color: #fafafa;
    font-size:20px;
}

.ScorecardWithInfo{
    display:none;
}
   
.changeDayButton {
    width: 32.5%;
    display: inline-block;
    vertical-align: middle;
}

}


