/* RESETTA SIDAN*/
* {
    margin: 0px;
    padding: 0px;
}

/* Positionerar sidans innehålle, med marginal mot den fixerade navbaren*/
.container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 1200px;
}

.body{
    font-family: roboto;
    background-color: #fafafa;
}


#ContentPlaceHolder1_DisplayBookingSchedule {
   width: 100%;
   height: 100%; 
}

#schedule {
    width: 100%;
    height: 100%;
}

/* Formaterar boxarna för bokningsbara tider*/
.aBooking {
    width: 8%;
    height: 8%;
    background-color: lightgray;
    margin: 1px;
    display: inline-block;
    border-style: solid;
    border-width: thin;
    border-color: #969696;
    margin-bottom: 2px;
}

.aBookingFull {
    width: 8%;
    height: 8%;
    background-color: lightcoral;
    margin: 1px;
    display: inline-block;
    border-style: solid;
    border-width: thin;
    border-color: #969696;
    margin-bottom: 2px;
}

.aBookingSpotsLeft {
    width: 8%;
    height: 8%;
    background-color: lightyellow;
    margin: 1px;
    display: inline-block;
    border-style: solid;
    border-width: thin;
    border-color: #969696;
    margin-bottom: 2px;
}

#ContentPlaceHolder1_DisplayChangeDay{

    background-color: darkseagreen;
    width: 98%;
    height: 10%; 
}


#ScheduelChangeDay{

     width:15%;
    height: 15%;
    background-color: lightgray;
}
#ContentPlaceHolder1_Button1{
       font-family: inherit;
    font-size: 30px;
    line-height: inherit;
    width: 10%;
    height: 35%;

}
#ContentPlaceHolder1_Button2{
       font-family: inherit;
    font-size: 30px;
    line-height: inherit;
    width: 10%;
    height: 35%;
    float: right;

}
 
