* {
    margin: 0px;
    padding: 0px;
}
 
.navbar-fixed-top  {
     -webkit-backface-visibility: hidden;
}

body{
    font-family: roboto;
    background-color: #fafafa;
}

.navbar-inverse .navbar-brand {
    color: #e8e8e8;
    font-family: Righteous;
    font-size: 20px;
}

.navbar-inverse{
    background-color:rgba(34, 34, 34, 0.81);
}

.navbar .nav li a {
    color: #e8e8e8;
    font-family: roboto;
    padding-top: 18px;
    
}
.navbar .nav li a:hover{
    color: #ffffff;
    background-color: #1f1f1f;

}

#myCarousel{
    margin-top:0px;
}

#about{
    background-color: #fafafa;
    height:300px;
    color: rgb(34, 34, 34);
    margin-bottom: 10px;
}

#about h2{
    font-size: 28px;
    padding-top: 45px;
    padding-bottom: 10px;
    font-family:roboto;
    font-weight: bold;
    text-shadow: 0px 3px 14px rgba(0, 0, 0, 0.32);

}

#about p{
    padding-bottom: 10px;
    font-family:roboto;
    text-align:center;

}

.btn-default {
  color: rgb(34, 34, 34);
  background-color: #fafafa; 
  width: 300px;
  height: 43px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 2px;
  font-family:roboto;

}

.btn-default:hover, btn-default:focus{
    background-color:rgb(34, 34, 34);
    color: #fafafa; 
    border: 2px solid rgb(34, 34, 34);

}

.btn-primary{
    background-color: #fafafa;
    border: 1px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
}

.btn-primary:hover{
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
    color: #fafafa;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255, 255, 255, 0.95);
    margin-top: 1px;    
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:white;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;    
}    

#login-dp .form-group {
    margin-bottom: 10px;    
}

#login-nav{
    font-family: Roboto;    
}

.navbar-right{
    font-family: Roboto;    
}

#banan{
    color:rgb(34, 34, 34);
    background-color: #fafafa;
    margin-top: 100px;
    text-align: center;
    font-family:roboto;           
}

#banan h2{
    font-size: 28px;
    padding-top: 45px;
    padding-bottom: 5px;
    font-family:roboto;
    font-weight: bold;
    text-shadow: 0px 3px 14px rgba(0, 0, 0, 0.32);
}

#banan p{
    padding-bottom: 10px;
    font-family:roboto;
    text-align:center;
}

.portfolio-item{
    margin-bottom: 5px;
}

.small{
    width: 100%;
}

.stars{
    color: gold;
    font-size: 28px;    
}

.thumbnail{
    background-color: #fafafa;
    border: 0.5x solid rgb(34, 34, 34);
    border-radius: 0px;

}

#nyheter h2{
    font-size: 28px;
    padding-top: 45px;
    padding-bottom: 5px;
    font-family:roboto;
    font-weight: bold;
}

.thumbnail:hover{
box-shadow:         1px 0px 30px 0px rgba(0, 0, 0, 0.17);
}

.portfolio-item:hover{
box-shadow:         1px 0px 30px 0px rgba(0, 0, 0, 0.17);
}


.glyphicon-log-out, .glyphicon-cog, .glyphicon-log-in{
    font-size: 11px;
    
}



